body {
background: linear-gradient(267deg, #f93818, #f99118, #30c321, #1ccee1, #5289f7, #9e17dd, #ec49d7);
background-size: 1400% 1400%;

-webkit-animation: fondoAnimado 37s ease infinite;
-moz-animation: fondoAnimado 37s ease infinite;
-o-animation: fondoAnimado 37s ease infinite;
animation: fondoAnimado 37s ease infinite;

font-family: 'Open Sans', sans-serif;
color: rgba(255, 255, 255, 1);
font-size: 24px;
}

@-webkit-keyframes fondoAnimado {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-moz-keyframes fondoAnimado {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-o-keyframes fondoAnimado {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@keyframes fondoAnimado { 
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}

h1 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    padding-top: 80px;
}


h2 {
    font-family:'Open Sans', sans-serif;
    font-size: 36px;
}

h3 {
    font-family:'Open Sans', sans-serif;
    font-size: 50px;
}

h4 {
    font-family:'Open Sans', sans-serif;
    font-size: 24px;
}

p{
    margin: 5px 25px 5px 25px;
}

.nav    {
    text-align: center;
}


.nav img {
    float: center;
}
.navbar{
    font-family:'Open Sans', sans-serif;
    font-size: 24px;
    background-color: rgba(20, 20, 20, 1);
    padding: 10px 5px 10px 5px;
}

.navbar-inverse .navbar-nav>li>a:link{
    color: rgb(255,255,255);
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: rgb(255,255,255)!important;
/*    text-shadow: -10px -10px 0 rgba(28, 206, 225,.5), 10px 10px 0 rgba(48, 195, 33,.5);*/
    font-size: 120%
}

.navbar-inverse .navbar-nav>li>a:visited{
    color: white;
}


.row a:link,a:visited{
    color: rgb(255,255,255)!important;
    font-size: 110%;
}

.row a:hover{
    color: rgb(255,255,255)!important;
}


/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 379px) {
    h1 {
        font-size: .6em;
        word-break: break-all;
        text-align: left;
        padding-top: 10px;
    }
}
/* Extra small devices (phones, up to 480px) */
@media (min-width: 380px) and (max-width: 767px) {
    h1 {
        font-size: 1em;
        padding-top: 10px;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 2em;
        padding-top: 50px;
    }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 2.5em;
    }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 3em;
        padding-top: 250px;
    }
}