body {
background: linear-gradient(269deg, #5768f5, #22e7e8, #5cd065, #ff7f28, #b75eff, #ff5ee4);
background-size: 1000% 1000%;

-webkit-animation: fondoAnimado 45s ease infinite;
-moz-animation: fondoAnimado 45s ease infinite;
-o-animation: fondoAnimado 45s ease infinite;
animation: fondoAnimado 45s ease infinite;
}

@-webkit-keyframes fondoAnimado {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes fondoAnimado {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes fondoAnimado {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes fondoAnimado { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.menu {
	font-family: 'Maven Pro', sans-serif;
}